@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #2b7cee;
    cursor: pointer;
    margin-top: -8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #E5E7EB;
    border-radius: 2px;
}

body {
    min-height: 100vh;
    background-color: #f6f7f8;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
}
